/* Navbar.css */

.navbar {
  background-color: var(--color-primary);
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: "Roboto", sans-serif;
}

/* Top section of the Navbar */
.navbar-top {
  background-color: var(--color-primary) !important;
  box-shadow: none;
}

.navbar-toolbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 64px;
  padding: 0 16px;
}

.logo-desktop-only {
  display: flex;
  justify-self: center;
  margin-right: 16px;
  padding: 5px 0px;
}

.logo-desktop-only img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

@media screen and (max-width: 960px) {
  .logo-desktop-only {
    display: none !important;
  }
}

.navbar-search {
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.15);
  transition: background-color 0.3s ease;
  width: 100%;
  margin-left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar-search:hover {
  background-color: rgba(255, 255, 255, 0.25);
}

.navbar-search-icon {
  padding: 0 8px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-white) !important;
}

.navbar-search-input {
  color: var(--color-white) !important;
  padding-left: calc(1em + 32px);
  width: 100%;
}

@media screen and (min-width: 600px) {
  .navbar-search {
    margin-left: 0px;
    width: 20rem;
  }

  .navbar-search-input {
    width: 30ch;
  }
}

.profile-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; /* Ensure the menu is positioned correctly */
}
.navbar-svg {
  margin: 0;
  padding: 0;
  width: 30px !important;
  height: 30px !important;
}

/* Bottom section of Navbar */

.navbar-bottom {
  display: flex;
  background-color: var(--color-secondary) !important;
}

.navbar-category-button {
  position: relative;
  overflow: hidden;
  text-transform: uppercase;
}

.navbar-category-button::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: var(--color-white);
  transition: all 0.3s ease;
  transform: translateX(-50%);
}

.navbar-category-button:hover::after {
  width: 100%;
}

@media screen and (max-width: 960px) {
  .navbar-bottom {
    display: none !important;
  }
}

/* Offcanvas for Mobile-View */

.menu-button-mobile {
  display: flex;
}

@media screen and (min-width: 960px) {
  .menu-button-mobile {
    display: none !important;
  }
}

.drawer-content {
  width: 250px;
  display: flex;
  flex-direction: column;
}

.drawer-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  background-color: var(--color-primary);
}

.drawer-logo-icon {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
