/* App.css contains the style for each page and component
Details:
1. Navbar 
  1.1 Top Section NavBar
  1.2 Bottom Section Navbar
  1.3 Offcanvas for Mobile-View
2.Footer
3. Home page
  3.1 HomeCarousel
  3.2 Why-Us section
  3.3 Explore Products section
4. Products page
  4.1 ProductCard
5. Product Page
  5.1 Similar Products
6. Login & Register form
7. Profile page
8. Cart page

*/

/* 1. Navbar*/

.navbar {
  background-color: var(--color-primary);
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: "Roboto", sans-serif;
}

/*1.1 Top section of the Navbar */
.navbar-top {
  background-color: var(--color-primary) !important;
  box-shadow: none;
}

.navbar-toolbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 64px;
  padding: 0 16px;
}

.logo-desktop-only {
  display: flex;
  justify-self: center;
  align-items: center;
  margin-right: 16px;
  padding: 5px 0px;
  color: var(--color-white);
  font-size: 18px;
}

.logo-desktop-only img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 12px;
}

@media screen and (max-width: 960px) {
  .logo-desktop-only {
    display: none !important;
  }
}

.navbar-search {
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.15);
  transition: background-color 0.3s ease;
  width: 100%;
  margin-left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar-search:hover {
  background-color: rgba(255, 255, 255, 0.25);
}

.navbar-search-icon {
  padding: 0 8px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-white) !important;
}

.navbar-search-input {
  color: var(--color-white) !important;
  padding-left: calc(1em + 32px);
  width: 100%;
}

@media screen and (min-width: 600px) {
  .navbar-search {
    margin-left: 0px;
    width: 20rem;
  }

  .navbar-search-input {
    width: 30ch;
  }
}

.profile-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  /* Ensure the menu is positioned correctly */
}

.navbar-svg {
  margin: 0;
  padding: 0;
  width: 30px !important;
  height: 30px !important;
}

/* 1.2 Bottom section of Navbar */

.navbar-bottom {
  display: flex;
  background-color: var(--color-secondary) !important;
}

.navbar-category-button {
  position: relative;
  overflow: hidden;
  text-transform: uppercase;
  color: var(--color-white) !important;
}

.navbar-category-button::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: var(--color-white);
  transition: all 0.3s ease;
  transform: translateX(-50%);
}

.navbar-category-button:hover::after {
  width: 100%;
}

@media screen and (max-width: 960px) {
  .navbar-bottom {
    display: none !important;
  }

  .navbar-category-button {
    color: var(--color-dark) !important;
  }

  .navbar-category-button::after {
    background-color: none;
  }
}

/* 1.3 Offcanvas for Mobile-View */

.menu-button-mobile {
  display: flex;
}

@media screen and (min-width: 960px) {
  .menu-button-mobile {
    display: none !important;
  }
}

.drawer-content {
  width: 250px;
  display: flex;
  flex-direction: column;
}

.drawer-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  background-color: var(--color-primary);
}

.drawer-logo-icon {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

/* 2. Footer */
.footer {
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: 40px 24px;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
}

.footer-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: bold;
  color: var(--color-white);
  margin-bottom: 12px;
}

.footer-logo img {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  margin-right: 12px;
}

.footer-description {
  margin-bottom: 16px;
  color: var(--color-white);
}

.footer-icons svg {
  font-size: 28px;
  margin-right: 12px;
  cursor: pointer;
  transition: transform 0.2s ease, color 0.2s ease;
}

/* Social icons and send icon */
.footer-icons svg:hover,
.footer-newsletter-icon:hover {
  color: var(--color-blue) !important;
  transform: scale(1.1);
}

.footer-section-title {
  font-weight: bold;
  color: var(--color-white);
  margin-bottom: 12px;
}

.footer-link {
  color: var(--color-white);
  margin-bottom: 6px;
  cursor: pointer;
  transition: color 0.2s ease;
}

.footer-link:hover {
  color: var(--color-blue);
}

.footer-newsletter {
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.15);
  transition: background-color 0.3s ease;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  padding: 4px 8px;
}

.footer-newsletter:hover {
  background-color: rgba(255, 255, 255, 0.25);
}

.footer-newsletter-icon {
  padding: 0 8px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-white) !important;
}

.footer-newsletter-input {
  color: var(--color-white) !important;
  width: 100%;
}

@media screen and (min-width: 600px) {
  .footer-newsletter {
    margin-left: 0px;
  }

  .footer-newsletter-input {
    width: 30ch;
  }
}

/* 3. Home page */
/* 3.1 HomeCarousel */
.home-carousel {
  width: 100%;
  height: 500px;
}

.carousel-slide {
  height: 500px;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--color-white);
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.8);
  padding: 0 16px;
}

.carousel-title {
  font-weight: 700;
  margin-bottom: 16px;
}

.carousel-description {
  font-weight: 400;
  margin-bottom: 24px;
}

.carousel-button {
  padding: 10px 24px;
  font-weight: 600;
  background-color: var(--color-middle) !important;
}

.carousel-button a {
  color: var(--color-white);
  text-decoration: none;
}

.swiper-button-next,
.swiper-button-prev {
  color: var(--color-middle); 
}

.swiper-pagination-bullet {
  background-color: var(--color-white);
  opacity: 0.7;
}

.swiper-pagination-bullet-active {
  background-color: var(--color-middle);
  opacity: 1;
}

/* 3.2 Why-Us section */
.why-us {
  background-color: var(--color-white);
  padding: 60px 20px;
}

.why-us .container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.why-us-title {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.why-us-subtitle {
  color: var(--color-grey);
  margin-bottom: 40px;
  font-size: 1rem;
}

.why-us .features {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.feature-card {
  background: white;
  border-radius: 16px;
  padding: 30px 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  max-width: 300px;
  flex: 1 1 250px;
  transition: transform 0.3s ease;
}

.feature-card:hover {
  transform: translateY(-5px);
}

.feature-icon {
  font-size: 40px !important;
  color: var(--color-middle);
  margin-bottom: 15px;
}

.feature-card h3 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.feature-card p {
  font-size: 0.95rem;
  color: var(--color-grey);
}

/* 3.3 Explore Products */
.explore-snacks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1200px;
  margin: 3rem auto;
  padding: 0 1rem;
}

.snacks-header {
  text-align: center;
}

.snacks-header h2 {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--color-dark);
  margin-bottom: 0.5rem;
}

.snacks-header p {
  font-size: 1.125rem;
  color: var(--color-grey);
  max-width: 600px;
  margin: 0 auto;
}

.snacks-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
}

.explore-more-container {
  text-align: center;
  margin-top: 2rem;
}

.explore-more-button {
  background-color: var(--color-middle);
  color: var(--color-white);
  padding: 0.75rem 2rem;
  border-radius: 4px;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.1rem;
  transition: background-color 0.3s ease;
}

.explore-more-button:hover {
  background-color: var(--color-blue);
}


@media (max-width: 600px) {
  .section-header h2 {
    font-size: 2rem;
  }

  .section-header p {
    font-size: 1rem;
  }
}


/* 4. Products page */
.product-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
}

.products-title {
  font-size: 2rem;
  font-weight: bold;
  color: var(--color-blue);
  text-transform: uppercase;
}

.product-sorting {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

@media (max-width:600px) {
  .product-sorting {
    flex-direction: column;
    padding: 10px;
  }
}

.product-container  .no-results {
  text-align: center;
  padding: 40px 20px;
  color: var(--color-grey);
  font-size: 16px;
  font-family: sans-serif;
}

.product-container  .no-results h2 {
  font-size: 24px;
  margin-bottom: 8px;
  color: var(--color-dark);
}

/* 4.1 Product Card */
.product-card {
  width: 360px;
  background: var(--color-white);
  border-radius: 15px;
  box-shadow: 0 5px 20px var(--color-grey);
  transition: .3s;
  margin: 20px auto;
  overflow: hidden;
  position: relative;
  cursor: pointer
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px var(--color-grey)
}

.product-card .img {
  height: 200px;
  overflow: hidden
}

.product-card .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform .5s
}

.product-card .card:hover .img img {
  transform: scale(1.05)
}

.product-card .info {
  padding: 20px
}

.product-card .cat {
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--color-grey);
  margin-bottom: 5px
}

.product-card .title {
  font-size: 18px;
  font-weight: 700;
  color: var(--color-dark);
  margin: 0 0 10px;
  letter-spacing: -.5px
}

.product-card .bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px
}

.product-card .price {
  display: flex;
  flex-direction: row
}

.product-card .old {
  font-size: 13px;
  text-decoration: line-through;
  color: var(--color-light-gray);
  margin-bottom: 2px
}

.product-card .new {
  font-size: 20px;
  font-weight: 700;
  color: var(--color-dark);
}

.product-card .btn {
  background: var(--color-secondary);
  color: var(--color-white);
  border: none;
  border-radius: 10px;
  padding: 8px 15px;
  font-size: 13px;
  font-weight: 600;
  text-decoration: none !important;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
  transition: .3s;
  box-shadow: 0 3px 10px var(--color-dark)
}

.product-card .btn:hover {
  background: var(--color-d-blue);
  transform: translateY(-2px);
  box-shadow: none;
}

.product-card .stock {
  font-size: 11px;
  font-weight: 600;
  color: var(--color-green);
}

.product-card .out-of-stock {
  font-size: 11px;
  font-weight: 600;
  color: var(--color-l-red);
}

@media (max-width:400px) {
  .product-card{
    width: 300px;
  }

  .product-card .title {
    font-size: 16px
  }

  .product-card .img {
    height: 180px
  }

  .product-card .bottom {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px
  }

  .product-card .price {
    margin-bottom: 5px
  }

  .product-card .btn {
    width: 90%;
    justify-content: center
  }
}

.product-card .discount-badge {
  position: absolute;
  top: 10px;
  right: 10px;
  background: linear-gradient(to right, var(--color-d-red) 0%,  var(--color-l-red) 44%, var(--color-d-red));
  color: var(--color-white);
  padding: 5px 10px;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, .2);
  z-index: 10
}

/* 5. Product Page */
.product-section {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2rem;
  max-width: 1200px;
  margin: auto;
}

.product-image {
  flex: 1 1 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 450px) {
  .product-image {
    flex: 1 1 60%;
  }
}

.product-image img {
  width: 100%;
  max-width: 400px;
  object-fit: contain;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.product-details {
  flex: 1 1 40%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.product-category {
  text-transform: uppercase;
  color: var(--color-grey);
  font-weight: bold !important;
}

.product-name {
  font-weight: 600 !important;
}

.product-price {
  color: var(--color-secondary);
  font-weight: 600 !important;
}

.original-price {
  font-size: 13px;
  text-decoration: line-through;
  color: var(--color-light-gray);
  margin-bottom: 2px
}

.product-description {
  line-height: 1.5;
}

.product-stock {
  font-weight: 500 !important;
}

.product-stock.out-of-stock {
  color: var(--color-l-red);
}

.product-quantity {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.quantity-btn {
  color:var(--color-primary) !important;
}

.product-count {
  font-size: 1.2rem;
  font-weight: 500;
  min-width: 2rem;
  text-align: center;
}

.add-to-cart-btn {
  background-color: var(--color-middle) !important;
  color: var(--color-white) !important;
  margin-top: 1rem;
  padding: 0.75rem 2rem;
  font-size: 1rem;
  border-radius: 10px;
  font-weight: bold;
  max-width: 300px;
}

.add-to-cart-btn:hover {
  background-color: var(--color-blue) !important;
}

/* 5.1 Similar Products */
.similar-products-section {
  max-width: 1200px;
  margin: 2rem auto;
  padding: 0 1rem;
}

.similar-products-title {
  margin-bottom: 1rem;
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--color-dark);
  text-align: center;
}

.similar-products-swiper {
  padding-bottom: 40px;
}

/* 6. Login & Register form */
.auth-form {
  max-width: 400px;
  margin: 2rem auto;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.auth-form h2 {
  margin-bottom: 1rem;
  text-align: center;
  color: var(--color-dark);
}

.auth-form input {
  padding: 10px 12px;
  border: 1px solid var(--color-grey);
  border-radius: 8px;
  font-size: 1rem;
}

.auth-form p {
  display: inline-block;
}

.auth-form p a {
  color: var(--color-primary);
}

.auth-form button {
  padding: 10px;
  background-color: var(--color-middle);
  color: var(--color-white);
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.auth-form button:hover {
  background-color: var(--color-blue);
}

/* 7. Profile page */
.profile-wrapper {
  max-width: 1000px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: var(--color-white);
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
}

.profile-heading {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.profile-subheading {
  font-size: 1rem;
  color: var(--color-grey);
  margin-bottom: 2rem;
}

.tab-container {
  border-bottom: 1px solid var(--color-white);
  margin-bottom: 2rem;
}

.custom-tabs-root {
  background-color: white;
}

.custom-tabs-indicator {
  background-color: var(--color-middle) !important;
  height: 3px;
  border-radius: 2px;
}

.custom-tab-root {
  color: var(--color-grey);
  font-weight: 500;
  text-transform: none;
  font-size: 1rem;
}

.custom-tab-selected {
  color: var(--color-middle) !important;
}

.tab-btn {
  background-color: var(--color-middle) !important;
}
.tab-btn:hover {
  background-color: var(--color-blue) !important;
}

.tab-content {
  padding: 2rem;
}

.section-title {
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.section-subtitle {
  color: var(--color-grey);
  margin-bottom: 1.5rem;
}

@media (max-width: 768px) {
  .tab-content {
    padding: 1rem;
  }
}

/* 8. Cart */
.cart-container,
.checkout-container {
  display: flex;
  flex-direction: column;
  padding: 40px 60px;
}

.cart-header,
.checkout-header {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 24px;
}

.cart-header button,
.checkout-header button {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.cart-content,
.checkout-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 32px;
}

.cart-left,
.checkout-left {
  flex: 3;
}

.cart-right,
.checkout-right {
  flex: 2;
  position: sticky;
  top: 24px;
}

/* 8.1 Cart Item */

.cart-item {
  margin-bottom: 20px;
  padding: 20px;
}

.cart-item-left {
  display: flex;
  gap: 16px;
}

.cart-item-image {
  width: 80px;
  height: 80px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.cart-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cart-item-info {
  flex: 1;
}

.cart-item-title {
  font-weight: 600;
}

.cart-item-info .out-of-stock {
  background-color: var(--color-l-red);
  color: var(--color-white);
  font-size: 12px;
  font-weight: 600;
  padding: 4px 10px;
  border-radius: 20px;
  display: inline-block;
  margin-top: 4px;
}

.cart-item-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
}

.quantity-control {
  display: flex;
  align-items: center;
  gap: 8px;
}

.cart-item-price {
  text-align: right;
}

.cart-item-price span {
  display: block;
  color: var(--color-grey);
  font-size: 14px;
  margin-top: 4px;
}

.remove-icon {
  margin-left: 12px;
  color: var(--color-grey);
}

.order-summary {
  padding: 16px;
  border-radius: 12px;
}

.summary-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
  font-size: 16px;
}

.total {
  font-weight: 700;
  font-size: 18px;
  margin-top: 12px;
  padding-top: 12px;
}

.order-summary-btn {
  width: 100%;
  padding: 12px 0;
  background-color: var(--color-middle) !important;
  font-weight: 600;
}

.order-summary-btn:disabled {
  background-color: var(--color-white) !important;
}

.cart-clear-btn {
  width: 100%;
  margin-top: 12px !important;
  padding: 12px 0;
  background-color: var(--color-blue) !important;
  font-weight: 600;
  align-items: center;
}

.cart-clear-btn svg{
  height: 18px;
  width: 18px;
}

@media (max-width: 768px) {
  .cart-container,
  .checkout-container {
    padding: 20px 16px;
  }

  .cart-header,
  .checkout-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .cart-content,
  .checkout-content {
    flex-direction: column;
  }

  .cart-left, .cart-right,
  .checkout-left, .checkout-right {
    flex: 1;
    width: 100%;
  }

  .cart-item-left {
    display: g;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .cart-item-image {
    width: 100%;
    max-width: 160px;
    height: auto;
  }

  .cart-item-info {
    width: 100%;
  }

  .cart-item-actions {
    flex-direction: row;
    align-items: center;
    gap: 12px;
  }

  .cart-item-price {
    text-align: center;
  }

  .remove-icon {
    margin-left: 0;
  }

  .order-summary-btn {
    font-size: 16px;
    padding: 14px 0;
  }
}


.shipping-info-container {
  background: white;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
}

.shipping-info-title {
  padding-bottom: 1.5rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
