:root {
  --color-primary: #570861;
  --color-secondary: #62367F;
  --color-middle: #471F6F;
  --color-d-blue: #3D2F79;
  --color-blue: #3E4A89;
  --color-white: #EEF1EF;
  --color-dark: #000000DE;
  --color-grey: #71717A;
  --color-light-gray: #A1A1AA;
  --color-d-red: #A90329;
  --color-l-red: #C44848;
  --color-green: #22C55E;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif !important;
}

a {
  text-decoration: none;
  color: inherit;
}